<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forensic Wace</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/--mp---Masonry-Gallery-with-Loader-styles.css">
    <link rel="stylesheet" href="../assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../assets/css/Forensic_WACE.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body style="background: #f8f9fc;">
    {% include "navbar.html" %}
    <hr style="margin-top: 7px;margin-bottom: 13px;">
    <div class="col text-center">
        {% if reportStatus == 1 %}
                <div class="alert alert-success alert-dismissible mx-auto" role="alert" style="width: 90%;"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><a class="btn btn-success btn-circle ms-1" role="button" style="padding-bottom: 0px;padding-top: 0px;margin-right: 15px;border-style: none;"><i class="fas fa-check text-white"></i></a><span style="font-size: 24px;"><strong>Report Integrity check: REPORT VALID</strong><br></span></div>
        {% elif reportStatus == -1 %}
            <div class="alert alert-danger alert-dismissible mx-auto" role="alert" style="width: 90%;"><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button><a class="btn btn-danger btn-circle ms-1" role="button" style="margin-right: 15px;padding-top: 0px;padding-bottom: 0px;"><i class="fas fa-times text-white"></i></a><span style="font-size: 24px;"><strong>Report Integrity check: REPORT CORRUPTED</strong><br></span></div>
        {% endif %}
        {% if errorMessage is not none%}
            <div class="alert alert-warning alert-dismissible mx-auto" role="alert" style="width: 90%;"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><a class="btn btn-warning btn-circle ms-1" role="button" style="margin-right: 15px;padding-top: 0px;padding-bottom: 0px;"><i class="fas fa-exclamation-triangle text-white"></i></a><span style="font-size: 24px;"><strong>{{ errorMessage }}</strong><br></span></div>
        {% endif %}
    </div>
    <div class="container d-xxl-flex justify-content-xxl-center align-items-xxl-center">
        <div class="card shadow-lg d-xxl-flex o-hidden border-0 my-5" style="width: 65%;">
            <div style="margin-top: 25px;">
                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon mx-auto" style="border-radius: 50%;width: 75px;height: 75px;background: var(--bs-green);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-shield-check" style="height: 35px;width: 35px;">
                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"></path>
                        <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                    </svg></div>
                <h4 class="mx-auto" style="text-align: center;">Report Integrity</h4>
            </div>
            <div class="d-xxl-flex justify-content-xxl-center p-5">
                <div class="text-center" style="width: 75%;">
                    <form class="user" action="/CheckReport" id="checkReport" method="post" enctype="multipart/form-data"><span><br><strong><span style="color: rgb(78, 115, 223);">REPORT FILE</span></strong><br></span>
                        <div class="d-xxl-flex align-items-xxl-center mb-3"><input class="form-control" type="file" accept=".pdf" id="report" name="report" style="border-radius: 160px;width: 90%;margin-right: 5px;"><a class="btn btn-primary btn-circle ms-1" role="button"><i class="far fa-file-pdf text-white"></i></a></div>
                        <span>
                            <br>
                            <strong><span style="color: rgb(78, 115, 223);">CERTIFICATE FILE</span></strong>
                            <br>
                        </span>
                        <div class="d-xxl-flex align-items-xxl-center mb-3"><input class="form-control" type="file" accept=".tsr" id="certificate" name="certificate" style="border-radius: 160px;width: 90%;margin-right: 5px;"><a class="btn btn-primary btn-circle ms-1" role="button"><i class="far fa-file text-white"></i></a></div>
                    </form>
                    <div class="row" style="margin-top: 43px;">
                        <div class="col-xxl-6 text-center"><a class="btn btn-danger btn-icon-split" role="button" href="/"><span class="text-white-50 icon"><i class="fas fa-arrow-left"></i></span><span class="text-white text">Back</span></a></div>
                        <div class="col-xxl-6 text-center"><a class="btn btn-success btn-icon-split" onclick="document.getElementById('checkReport').submit();" role="button"><span class="text-white-50 icon"><i class="fas fa-check"></i></span><span class="text-white text">Check</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>