<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forensic Wace</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/--mp---Masonry-Gallery-with-Loader-styles.css">
    <link rel="stylesheet" href="../assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../assets/css/Forensic_WACE.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <section style="background: #25292f;">
        <div data-bss-parallax-bg="true" style="height: 1080px;background: #25292f;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold" style="color: var(--bs-orange);"><i class="fab fa-github" style="color: var(--bs-purple);"></i>&nbsp;Available for&nbsp;<span style="color: var(--bs-white);">FREE</span> ON GitHub</h1>
                            <p class="my-3" style="color: var(--bs-white);">Join us! Embrace your forensic science passion and contribute to the growth of our tool. Let's investigate together!</p><a class="btn active border rounded-pill" role="button" style="width: 100%;height: 48px;font-size: 20px;color: var(--bs-orange);border-style: solid;border-color: var(--bs-orange);" href="https://github.com/Alessiop01/ForensicWace-ServerEdition" target="_blank">Discover more&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"><img src="../assets/img/discoverMore/GitHubLogo.png" style="width: 130%;padding-right: 25%;"></div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
</body>

</html>