<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forensic Wace</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/--mp---Masonry-Gallery-with-Loader-styles.css">
    <link rel="stylesheet" href="../assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../assets/css/Forensic_WACE.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <section style="background: #25292f;">
        <div data-bss-parallax-bg="true" style="height: 1080px;background: #25292f;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold" style="color: var(--bs-orange);"><i class="fab fa-github" style="color: var(--bs-purple);"></i>&nbsp;Available for&nbsp;<span style="color: var(--bs-white);">FREE</span> ON GitHub</h1>
                            <p class="my-3" style="color: var(--bs-white);">Join us! Embrace your forensic science passion and contribute to the growth of our tool. Let's investigate together!</p><a class="btn active border rounded-pill" role="button" style="width: 100%;height: 48px;font-size: 20px;color: var(--bs-orange);border-style: solid;border-color: var(--bs-orange);" href="https://github.com/Alessiop01/ForensicWace-ServerEdition" target="_blank">Discover more&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 207px;color: #1a1c21;">
                            <path d="M160 80C160 112.8 140.3 140.1 112 153.3V241.1C130.8 230.2 152.7 224 176 224H272C307.3 224 336 195.3 336 160V153.3C307.7 140.1 288 112.8 288 80C288 35.82 323.8 0 368 0C412.2 0 448 35.82 448 80C448 112.8 428.3 140.1 400 153.3V160C400 230.7 342.7 288 272 288H176C140.7 288 112 316.7 112 352V358.7C140.3 371 160 399.2 160 432C160 476.2 124.2 512 80 512C35.82 512 0 476.2 0 432C0 399.2 19.75 371 48 358.7V153.3C19.75 140.1 0 112.8 0 80C0 35.82 35.82 0 80 0C124.2 0 160 35.82 160 80V80zM80 104C93.25 104 104 93.25 104 80C104 66.75 93.25 56 80 56C66.75 56 56 66.75 56 80C56 93.25 66.75 104 80 104zM368 56C354.7 56 344 66.75 344 80C344 93.25 354.7 104 368 104C381.3 104 392 93.25 392 80C392 66.75 381.3 56 368 56zM80 456C93.25 456 104 445.3 104 432C104 418.7 93.25 408 80 408C66.75 408 56 418.7 56 432C56 445.3 66.75 456 80 456z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
</body>

</html>