<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forensic Wace</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/--mp---Masonry-Gallery-with-Loader-styles.css">
    <link rel="stylesheet" href="../assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../assets/css/Forensic_WACE.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <script>
        function updateDateTime() {
            var currentDate = new Date();

            var day = currentDate.getDate();
            var month = currentDate.getMonth() + 1;
            var year = currentDate.getFullYear();

            var hour = currentDate.getHours();
            var minute = currentDate.getMinutes();
            var second = currentDate.getSeconds();

            // Add 0 at the beginning if values are less than 10
            day = (day < 10 ? "0" : "") + day;
            month = (month < 10 ? "0" : "") + month;
            hour = (hour < 10 ? "0" : "") + hour;
            minute = (minute < 10 ? "0" : "") + minute;
            second = (second < 10 ? "0" : "") + second;

            var dateString = day + "/" + month + "/" + year;
            var hourString = hour + ":" + minute + ":" + second;

            document.getElementById("date").innerHTML = dateString;
            document.getElementById("hour").innerHTML = hourString;
        }

        // Update time every second
        setInterval(updateDateTime, 1000);

        // Initialize datetime on page loading
        updateDateTime();
    </script>

</head>

<body style="background: #f8f9fc;">
    <nav class="navbar navbar-light navbar-expand-md" style="width: 100%;">
        <div class="container-fluid">
            <a class="btn btn-info btn-circle ms-1" role="button" href="/DiscoverMore"><i class="fas fa-info text-white"></i></a>
            <img src="../assets/img/Logo.png" style="height: 45px;">
            <a class="btn btn-secondary btn-icon-split" role="button" href="/ChangeLogo"><span class="text-white-50 icon"><i class="fas fa-cogs"></i></span><span class="text-white text">Change Logo</span></a>
        </div>
    </nav>
    <hr style="margin-top: 7px;margin-bottom: 13px;">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Available Device Extractions on server</h3>
                </div>
            </div>
            <div class="row" style="margin-right: calc(var(--bs-gutter-x) * .5);margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: calc(var(--bs-gutter-x) * .5);;">
                <div class="col">
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Available Device Extractions</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>
                                        {{numberOfAvailableDevicesExtractions}}
                                        {% if numberOfAvailableDevicesExtractions == 1 %} Extraction {% else%} Extractions {% endif %}</span></div>
                                </div>
                                <div class="col-auto"><a class="btn btn-success btn-circle ms-1" role="button"><i class="fas fa-database text-white"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-start-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-success fw-bold text-xs mb-1"><span style="color: rgb(78,115,223);">Actual Time</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span id="hour"></span></div>
                                </div>
                                <div class="col-auto"><a class="btn btn-primary btn-circle ms-1" role="button" style="background: rgb(78, 115, 223);"><i class="far fa-clock text-white"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-start-warning py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: rgb(78,115,223);">Actual date</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span id="date"></span></div>
                                </div>
                                <div class="col-auto"><a class="btn btn-primary btn-circle ms-1" role="button" style="background: rgb(78, 115, 223);"><i class="far fa-calendar-alt text-white"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">List of available databases</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Udid</th>
                                        <th>Device Name</th>
                                        <th>IOS Version</th>
                                        <th>Device SN</th>
                                        <th>Device Type</th>
                                        <th>Datetime</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for availableDeviceExtraction in availableDeviceExtractionList %}
                                    <tr>
                                        <td>{{ availableDeviceExtraction['udid'] }}<br></td>
                                        <td>{{ availableDeviceExtraction['name'] }}</td>
                                        <td>{{ availableDeviceExtraction['ios'] }}</td>
                                        <td>{{ availableDeviceExtraction['serial'] }}<br></td>
                                        <td>{{ availableDeviceExtraction['type'] }}<br></td>
                                        <td>{{ availableDeviceExtraction['date'] }}<br></td>
                                        <td><a class="btn btn-info btn-circle ms-1" role="button" href={{ url_for('ChooseExtraction', udid=availableDeviceExtraction['udid'], name=availableDeviceExtraction['name'], ios=availableDeviceExtraction['ios']) }}><i class="fas fa-external-link-alt text-white"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><strong>Udid</strong></td>
                                        <td><strong>Device Name</strong></td>
                                        <td><strong>IOS Version</strong></td>
                                        <td><strong>Device SN</strong></td>
                                        <td><strong>Device Type</strong></td>
                                        <td><strong>Datetime</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded-circle d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    {% include "footer.html" %}
</body>

</html>