<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forensic Wace</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/--mp---Masonry-Gallery-with-Loader-styles.css">
    <link rel="stylesheet" href="../assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="../assets/css/Forensic_WACE.css">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body style="background: #f8f9fc;">
    <nav class="navbar navbar-light navbar-expand-md" style="width: 100%;">
        <div class="container-fluid">
            <a class="btn btn-info btn-circle ms-1" role="button"><i class="fas fa-info text-white"></i></a>
            <img src="../assets/img/Logo.png" style="height: 45px;"><a class="btn btn-danger btn-icon-split" role="button" href="/"><span class="text-white-50 icon">
            <i class="fas fa-sign-out-alt"></i></span><span class="text-white text">EXIT</span></a>
        </div>
    </nav>
    <hr style="margin-top: 7px;margin-bottom: 13px;">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row" style="height: 500px;">
                    <div class="col-lg-6 d-none d-lg-flex" style="display: flex; justify-content: center; align-items: center;">
                        <img src="../assets/img/Logo.png" style="width: 90%; margin-left: 5%">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5" style="height: 300px;">
                            <div class="text-center">
                                <h4 class="text-dark mb-2">Change Logo</h4>
                                <p class="mb-4">Upload the new logo using the following input field.<br></p>
                            </div>
                            <form class="user" action="/ChangeLogo" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input class="form-control" type="file" name="file" style="border-radius: 160px;">
                                </div>
                                <button class="btn btn-primary d-block btn-user w-100" type="submit" value="Upload"><i class="fas fa-upload" style="margin-right: 7.5px;"></i>Upload Logo<i class="fas fa-upload" style="margin-left: 7.5px;"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>